/* Header style */


*{
  border: 1px solid black;
}


.header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border-bottom: 1px solid black;
  border: 1px solid black;
}

.logo{
  display: inline-block;
  align-content: center;
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid black;
}

.nav{
  display: inline-block;
  align-content: flex-end;
  border: 1px solid black
}


/* Content layout */

.maincontent{
  display: flex;
  width: 100%;
}

.columnlarge {
  width: 630px;
  flex-direction: column;
}

.columnmedium {
  flex-direction: column;
  width: 300px;
}

.columnsmall {
  flex-direction: column;
  width: 240px;
}

/* Content Style */

.tuna{
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  background-repeat: no-repeat;
}

.copy{
  display: inline-block;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.earth{
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.camera{
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.cats{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

#tunahead{
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
