/* Header style */

/*
*{
  border: 1px solid black;
}
*/
h1{
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.header{
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  justify-content: flex-start;
}

.header nav{
  justify-content: flex-end;
}

.nav{
  justify-content: flex-end;
  color: black;
}

.nav li{
  justify-content: flex-end;
  display: inline-block;
  padding: 10px;
  color: black
}

/* Content Style */

.maincontent{
  display: flex;
}

.columnlarge {
  display: flex;
  flex-direction: column;
  width: 630px;
}

.columnmedium {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.columnsmall {
  display: flex;
  flex-direction: column;
  width: 240px;
}
